CONTENTO_API_URL=https://app.contento.io/api/v1
CONTENTO_API_KEY=your_contento_api_key
CONTENTO_SITE_ID=your_contento_site_key
CONTENTO_PREVIEW_SECRET=your_contento_preview_secret
SITE_MAIN_NAV_ID=your_main_nav_id
SITE_FOOTER_NAV_ID=your_footer_nav_id